<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("./partials/nav.ejs") %>
    <h2>Create New Category</h2>

    <form action="/categories/new" method="POST">
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          autofocus
          placeholder="e.g. Electronics"
        >
      </div>

      <div>
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          required
          placeholder="Short category description"
          rows="3"
        ></textarea>
      </div>
      <button type="submit">Create Category</button>
    </form>
  </body>
</html>
